.flex-container {
    
  padding: 5em;
  display: flex;
  justify-content: center;
  font-size: 19px;
  flex-direction: row;
}
.howItWorks {
  padding: 2em 2em;
}
  

.flex-container2 {
  padding: 3em 1em;
  display: flex;
  justify-content: center;
  font-size: 19px;
  flex-direction: row;
}

.icons {
    color: #3498db;
}