.video {
  
  width: 100%;
  display: flex;
  padding: 40%;
  justify-content: space-around;
  padding-bottom: 5%; 
  position: relative;
}

.iframeVideo {
  position: absolute;
  top: 0;
  left: 0;
}